langgraph==1.0.0a3
langchain
langchain-mcp-adapters
langchain_aws
fastapi
uvicorn
mcp
mcp[cli]
requests
boto3
grandalf
aiohttp
aioredis
langchain-core
langgraph-checkpoint-redis
redis>=5.2.1
redisvl>=0.5.1
langgraph-checkpoint>=2.0.24
psycopg2-binary 
pgvector
psycopg_pool
psycopg